<nav class="navbar z-[2]">
  <span class="logo">Coffe House</span>
  <ul>
    <li>
      <a
        class="text-white active:text-[#c0c0c0] cursor-pointer"
        onclick="handleClick('home')"
        >Home</a
      >
    </li>
    <li>
      <a
        class="text-white active:text-[#c0c0c0] cursor-pointer"
        onclick="handleClick('about')"
        >About</a
      >
    </li>
    <li>
      <a
        class="text-white active:text-[#c0c0c0] cursor-pointer"
        onclick="handleClick('menu')"
        >Menu</a
      >
    </li>
    <li>
      <a
        class="text-white active:text-[#c0c0c0] cursor-pointer"
        onclick="handleClick('rate')"
        >Rate</a
      >
    </li>
  </ul>
</nav>
